/* Estilo del formulario */
form {
    width: 90%;
    margin: auto;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.2em;
    padding-top: 20px;
    font-family: Cinzel, serif;
    color: rgb(255 121 198)
}

input[type=number],
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(68 71 90);
    color: rgb(204, 204, 199);
}

input:focus,
select:focus,
textarea:focus {
    background-color: rgb(95, 99, 121);
}


input[type=submit] {
    width: 100%;
    background-color: rgb(241 250 140);
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(195, 202, 112);
}